/*  Scrollbar CSS */

::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background: var(--background);
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: var(--on-background-grey);
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  a {
    color: var(--on-background);
    text-decoration: none;
  }
  
  body {
    font-family: 'Inter', sans-serif;
  }
  
  .app-container {
    color: var(--on-background);
    background-color: var(--background);
    min-height: 100vh;
    transition: all ease-in-out 0.5s;
  }
  
  header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    border-bottom: 1px solid var(--on-background);
  }
  
  header h1 {
    flex: 1;
  }
  
  header .navigation ul li.nav-item {
    display: inline-block;
    font-size: 24px;
    margin: 0 8px;
  }
  
  main {
    margin: 0 auto;
    padding: 32px 0;
    width: 90%;
    max-width: 1200px;
  }
  
  /* React Toastify */
  .toast-container {
    position: fixed;
    top: 80px; /* Adjust this value based on your header height */
  }
  
  .Toastify__toast--default {
    background-color: var(--background);
    color: var(--on-background);
  }
  
  .Toastify__toast--info {
    background-color: var(--background-light);
    color: var(--on-background);
  }
  
  .Toastify__toast--success {
    background-color: var(--background-light);
    color: var(--success);
  }
  
  .Toastify__toast--warning {
    background-color: var(--background-light);
    color: var(--on-background);
  }
  
  .Toastify__toast--error {
    background-color: var(--background-light);
    color: var(--error);
  }
  
  .Toastify__close-button {
    color: var(--on-background);
  }

  /* Navigation */
.profile-menu {
    position: relative;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 120%;
    right: 0;
    border-radius: 8px;
    background: var(--background-light);
    border: 1px solid var(--on-background);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .dropdown-menu li {
    list-style: none;
    border-radius: 8px;
    width: 100%; /* Set the width to 100% */
    text-align: center;
  }
  
  .dropdown-menu button {
    display: block;
    width: 100%;
    padding: 8px 16px;
    background: none;
    border: none;
    text-align: left;
    cursor: pointer;
    color: var(--on-surface);
    font-size: 16px; /* Smaller font size */
    font-weight: bold;
  }
  
  .dropdown-menu li:hover {
    background-color: var(--on-hover);
  }


  /* NOTE LIST */
  .notes-list {
    margin-top: 32px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    padding: 16px 8px;
  }
  
  .notes-list-empty {
    margin-top: 32px;
    padding: 16px 8px;
  }
  
  .notes-list-empty p {
    text-align: center;
    color: var(--on-background-grey);
  }

  /* NOTE ITEM */
  .note-item {
    padding: 16px;
    border-radius: 8px;
    border: 1px solid var(--on-background);
    border-top: 5px solid;
  }
  
  .note-item:hover {
    background-color: var(--on-hover);
  }
  
  .note-item__title {
    margin: 4px 0;
  }
  
  .note-item__createdAt {
    color: var(--on-background-grey);
    font-size: 14px;
    margin: 4px 0;
  }
  
  .note-item__body {
    margin-top: 16px;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
  }

  /* DETAIL PAGE */
  .detail-page {
    margin: 0 auto;
    margin-top: 32px;
    width: 90%;
  }
  
  .detail-page__title {
    font-size: 48px;
    margin-bottom: 8px;
    word-wrap: break-word;
  }
  
  .detail-page__createdAt {
    color: var(--on-background-grey);
  }
  
  .detail-page__body {
    line-height: 1.5;
    margin-top: 36px;
    font-size: 18px;
  }
  
  .detail-page__action,
  .homepage__action,
  .add-new-page__action {
    position: fixed;
    display: flex;
    gap: 16px;
    bottom: 32px;
    right: 32px;
  }
  
  .action {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    border: 0;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: var(--on-background);
    color: var(--background);
    padding: 8px;
    cursor: pointer;
  }